<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UV-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>A2Z</title>
  </head>

  <body>
     <!-- Header Start-->
    <header class="bg-amit py-4 shadow-sm">
      <div class="container flex items-center justify-center">
        <!--logo-->
        <a href="/home">
          <img src="/images/asollogo.png" class="ml-6 mr-36 w-20" />
        </a>

      <!--searchbar-->
      <form method="get" action="/search">
        <div class="relative mr-16 flex w-full max-w-xl">
          <span class="absolute left-2 top-3 text-lg text-gray-400">
            <i class="fas fa-search"></i>
          </span>
          <input
            type="text"
            class="w-full rounded-l-md border border-r-0 border-black py-3 pl-12 pr-3 focus:outline-none"
            placeholder="Search" name="name"
          />
          <button class="rounded-r-md border-black bg-black px-8 text-white">
            Search
          </button>
        </div>
        </form>

        <!--icons-->

        <div class="ml-16 mr-16 flex items-center space-x-8">
          <a href="/cart" class="relative text-center text-gray-700">
            <div class="text-2xl">
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <div class="text-[15px] leading-3">Cart</div>
          </a>
          <a href="/dashboard" class="relative text-center text-gray-700">
            <div class="text-2xl">
              <i class="fa-solid fa-user-large"></i>
            </div>
            <div class="text-[15px] leading-3">Account</div>
          </a>
        </div>
      </div>
    </header>

  
      <!-- navbar start-->
  
      <nav class="bg-gray-800">
        <div class="container ml-6 flex">
          <div
            class="item-center group relative flex cursor-pointer bg-red-500 px-8 py-4"
          >
            <span class="text-white">
              <i class="fas fa-bars"></i>
            </span>
            <span class="ml-2 capitalize text-white">All Categories</span>
  
            <div
              class="absolute left-0 top-full hidden w-full divide-y divide-dashed divide-red-500 bg-white py-3 shadow-md group-hover:block"
            >
              <a
                href="/electronics"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">ELECTRONICS</span>
              </a>
              <a
                href="/clothing"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">CLOTHING</span>
              </a>
  
              <a
                href="/cosmetics"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">COSMETICS</span>
              </a>
              <a
                href="/geroceries"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">GEROCERIES</span>
              </a>
              <a
                href="/sports_item"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black"
                  >SPORTS ITEMS</span
                >
              </a>
              <a
                href="/kitchen'"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">KITCHEN</span>
              </a>
              <a
                href="/tools"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">TOOLS</span>
              </a>
              <a
                href="/baby_items"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">BABY ITEMS</span>
              </a>
              <a
                href="jewelery"
                class="flex items-center px-6 py-3 transition hover:bg-gray-100"
              >
                <span class="ml-6 text-sm font-bold text-black">JEWELERY</span>
              </a>
            </div>
          </div>
  
          <!--link start-->
          <div class="flex flex-grow items-center justify-between pl-12">
            <div class="flex items-center space-x-6 capitalize">
              <a href="/home" class="text-white transition hover:text-white"
                >Home</a
              >
              <a href="/shop" class="text-white transition hover:text-white"
                >Shop</a
              >
              <a
                href="/order_tracking"
                class="text-white transition hover:text-white"
                >Order Tracking</a
              >
              <a href="/refund" class="text-white transition hover:text-white"
                >Exchange/Refund</a
              >
              <a href="/information" class="text-white transition hover:text-white"
                >Information</a
              >
            </div>
            <a href="/login" class="mr-16 text-white">Login/Register</a>
          </div>
  
          <!--link end-->
        </div>
      </nav>
      <!-- navbar end-->
  

    <!--title-->

    <div class="mt-6 h-24 w-72 rounded bg-amit text-center">
      <p class="pt-6 text-center text-4xl text-white">Terms & Conditions</p>
    </div>
<div >
  <p class="ml-24 pt-6 text-black text-1xl font-bold"> MINIMUM ORDER VALUE</p>
  <p class="ml-24 pt-3 text-black text-1xl">For first time wholesale customers of A2Z the minimum order value is 5k. Payment is due at the time of order.</p>
  <p class="ml-24 pt-3 text-black font-bold">PRODUCT SELECTION</p>
  <p class="ml-24 pt-0 ">We reserve the right to choose which products are available for wholesale purchase.  Some SKUs available via our website may not be suitable for retail sale due to packaging, quantity available etc</p>
  <p class="ml-24 pt-3 text-black text-1xl font-bold">HOW TO PLACE AN ORDER</p>
  <p class="ml-24 pt-2 text-black text-1xl"> 1. Prior to approval as a wholesale customer you must first register for a wholesale account.</p>
  <p class="ml-24 pt-0 text-black text-1xl"> 2. So that we might register your account as a wholesale customer you must then submit a Wholesale Application</p>
  <p class="ml-24 pt-0 text-black text-1xl"> 3. Upon approval as a wholesale customer you will be able to preview wholesale pricing, shop for products, view inventory availability, and place orders directly from our website.</p> 
  <p class="ml-24 pt-3 text-black text-1xl font-bold">MSRP</p>
  <p class="ml-24 pt-0 text-black text-1xl">Products or goods purchased from A2Z shall be sold at 100% minimum markup. If you bought something for 1k and sold it for 2k then this is a 100% increase. Retailer may discount after selling at MSRP for a reasonable period of time.</p> 
  <p class="ml-24 pt-3 text-black text-1xl font-bold">ONLINE SALES</p> 
  <p class="ml-24 pt-0 text-black text-1xl">Wholesale accounts are available to brick-and-mortar retail shops, or online retailers with their own storefronts (websites).  Businesses are forbidden from selling A2Z merchandise on any other online retail outlet. A2Z merchandise may not be sold on Amazon, EBay, through Facebook Buy-In Groups or any other means.</p> 
  <p class="ml-24 pt-3 text-black text-1xl font-bold">WHOLESALE PRICING</p>
  <p class="ml-24 pt-0 text-black text-1xl">Wholesale pricing is displayed on A2Z when logged in and approved as a wholesaler. Prices are subject to change without notice but confirmed order pricing will be honored. (If you do not immediately seeing wholesale pricing after approval, please log out and log back in.)</p> 
  <p class="ml-24 pt-3 text-black text-1xl font-bold">PAYMENTS</p>
  <p class="ml-24 pt-0 text-black text-1xl">A2Z accepts Visa card, Master card, Bkash, Nogod, Rocket, and Ucash.</p>  
  <p class="ml-24 pt-3 text-black text-1xl font-bold">SHIPPING</p>
  <p class="ml-24 pt-0 text-black text-1xl">Shipping is not included in the cost of goods. A2Z makes every attempt to ship out orders within 24 hours, however please allow up to 5 business days for order processing and fulfillment.</p>  

</div>




    <!-- <div class="mx-auto my-auto">
      <p class="text-4xl">Order Number:</p>
    </div>

   
    copyright
    
        <div class="flex bg-gray-800 py-4 bottom-0">
      <div class="container flex justify-between text-center">
        <p class="ml-6 text-center text-white">
          A2ZWholesale - All Rights reserved
        </p>
      </div>

      
      <div class="mr-16 flex space-x-6">
        <a href="#" class="text-white">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div> -->
  </body>
</html>